.questionnaire4 {
  background: linear-gradient(180deg, rgb(235, 235, 211) 0%, rgb(193, 93, 71) 97.21%);
  background-color: rgba(255, 255, 255, 1);
  border: 1px none;
  height: 800px;
  width: 360px;
}

.questionnaire4 .overlap {
  height: 800px;
  position: relative;
}

.questionnaire4 .group {
  height: 38px;
  left: 116px;
  position: absolute;
  top: 52px;
  width: 130px;
}

.questionnaire4 .overlap-group {
  height: 38px;
  position: relative;
  width: 128px;
}

.questionnaire4 .text-wrapper {
  color: #ffffff;
  font-family: "Gothic A1", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 6px;
  width: 128px;
}

.questionnaire4 .logo {
  height: 38px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 41px;
}

.questionnaire4 .background {
  height: 800px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 360px;
}

.questionnaire4 .passons-xxxxxxxx {
  color: #483d3f;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 98px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 285px;
}

.questionnaire4 .ellipse {
  background-color: #483d3f;
  border-radius: 13px;
  height: 26px;
  left: 114px;
  position: absolute;
  top: 387px;
  width: 26px;
}

.questionnaire4 .div {
  background-color: #ebebd3;
  border-radius: 13px;
  height: 26px;
  left: 149px;
  position: absolute;
  top: 387px;
  width: 26px;
}

.questionnaire4 .ellipse-2 {
  background-color: #ebebd3;
  border-radius: 13px;
  height: 26px;
  left: 184px;
  position: absolute;
  top: 387px;
  width: 26px;
}

.questionnaire4 .ellipse-3 {
  background-color: #ebebd3;
  border-radius: 13px;
  height: 26px;
  left: 219px;
  position: absolute;
  top: 387px;
  width: 26px;
}
