.cat-tag {
  align-items: flex-start;
  border-radius: 50px;
  display: inline-flex;
  gap: 10px;
  padding: 5px 15px;
  position: relative;
}

.cat-tag .text {
  color: #483d3f;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.cat-tag.state-true {
  background-color: #cdb6df87;
}

.cat-tag.state-false {
  border: 1px solid;
  border-color: #483d3f;
}

.cat-tag.state-true .text {
  text-align: center;
}
