.d-personnalisation {
  background: linear-gradient(180deg, rgb(213, 191, 168) 0%, rgb(198, 160, 137) 100%);
  background-color: rgba(255, 255, 255, 1);
  background-image: url(../../static/img/background-5.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  height: 800px;
  position: relative;
  width: 360px;
}

.d-personnalisation .p {
  color: #00000069;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 424px;
  width: 275px;
}

.d-personnalisation .button-next-instance {
  box-shadow: 0px 4px 4px #00000080 !important;
  left: 256px !important;
  position: absolute !important;
  top: 747px !important;
}

.d-personnalisation .img {
  height: 190px;
  left: 6px;
  position: absolute;
  top: 188px;
  width: 347px;
}

.d-personnalisation .group {
  height: 38px;
  left: 17px;
  position: absolute;
  top: 52px;
  width: 130px;
}

.d-personnalisation .overlap-group {
  height: 38px;
  position: relative;
  width: 128px;
}

.d-personnalisation .text-wrapper-2 {
  color: #ffffff;
  font-family: "Gothic A1", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 6px;
  width: 128px;
}

.d-personnalisation .logo {
  height: 38px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 41px;
}

.d-personnalisation .skip-instance {
  left: 37px !important;
  position: absolute !important;
  top: 755px !important;
}

.d-personnalisation .group-2 {
  height: 9px;
  left: 97px;
  position: absolute;
  top: 662px;
  width: 178px;
}

.d-personnalisation .rectangle {
  height: 9px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 43px;
}

.d-personnalisation .rectangle-2 {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 0;
  width: 19px;
}

.d-personnalisation .rectangle-3 {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 9px;
  left: 27px;
  position: absolute;
  top: 0;
  width: 19px;
}

.d-personnalisation .rectangle-4 {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 9px;
  left: 105px;
  position: absolute;
  top: 0;
  width: 19px;
}

.d-personnalisation .rectangle-5 {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 9px;
  left: 132px;
  position: absolute;
  top: 0;
  width: 19px;
}

.d-personnalisation .rectangle-6 {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 9px;
  left: 159px;
  position: absolute;
  top: 0;
  width: 19px;
}
